@import './variables-sass';

body {
	background-color: var(--color-background);
	color: var(--color-font);
	font-family: var(--font-fam-3);
	font-size: 1rem;
	line-height: 1.5;
}

.tc {
	&-col-right {
		grid-column: var(--right-grid-column);

		.tc-section {
			padding-right: 0;
		}
	}

	&-col-left {
		grid-column: var(--left-grid-column);

		&.tc-content {
			@media (min-width: $bp-md) {
				--left-grid-column: 2 / span 2;
			}
		}

		.tc-section {
			padding-left: 0;
		}
	}

	&-img {
		max-width: 100%;
	}

	&-vid {
		max-width: 100%;
	}

	&-dot {
		fill: var(--color-background);
	}

	&-image {
		padding: var(--spacer-4);
		background-color: var(--color-background-2);

		&-wrap {
			position: sticky;
			top: var(--nav-height);
			height: calc(100vh - var(--nav-height));
		}

		&-img {
			position: absolute;
			inset: 0;
			background-size: cover;
			background-position: 0 0;
			opacity: 0.8;
		}

		&-pattern {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0.4;
		}
	}

	&-content {
		position: relative;
		z-index: 2;

		@media (min-width: $bp-md) {
			--right-grid-column: span 2;
			--left-grid-column: span 2;
		}

		&-wrap {
			position: sticky;
			top: var(--nav-height);
		}
	}

	&-section {
		padding: var(--spacer-4);

		&-bleed {
			@media (min-width: $bp-md) {
				width: calc(50vw - var(--spacer-4) - var(--scrollbar-width));
			}
		}
	}

	&-container {
		--right-grid-column: 4 / span 3;
		--left-grid-column: 1 / span 3;

		display: grid;
		grid-template-columns: 1fr repeat(4, minmax(auto, calc(var(--container-width) / 4))) 1fr;

		@media (max-width: $bp-md - 1) {
			--right-grid-column: 2 / span 4;
			--left-grid-column: 2 / span 4;
		}
	}
}

// Vue transitions
// ----------

.opacity {
	&-enter-active,
	&-leave-active {
		transition: 0.2s;
	}

	&-enter-from,
	&-leave-to {
		opacity: 0;
	}
}

// Spacing utils
// ----------

@each $spacer in (1, 2, 3, 4, 5) {
	.mt-#{$spacer} {
		margin-top: var(--spacer-#{$spacer}) !important;
	}

	.mb-#{$spacer} {
		margin-bottom: var(--spacer-#{$spacer}) !important;
	}

	.my-#{$spacer} {
		margin-top: var(--spacer-#{$spacer}) !important;
		margin-bottom: var(--spacer-#{$spacer}) !important;
	}
}