@use './variables-sass';

body {
	background-color: var(--color-primary);
	color: var(--color-font);
	font-family: var(--font-fam-2);
	font-size: 1rem;
	line-height: 1.5;

	&:has(.tc-route-enter-active) {
		overflow: hidden;
	}
}

.tc {
	&-col-right {
		grid-column: var(--right-grid-column);
	}

	&-col-left {
		grid-column: var(--left-grid-column);
	}

	&-img,
	&-vid {
		max-width: 100%;
	}

	&-dot {
		fill: var(--color-background);
	}

	&-image {
		padding: var(--spacer-4);
		background-color: var(--color-background-3);

    @media (width <= variables-sass.$bp-sm) {
      padding: var(--spacer-3);
    }

		&-wrap {
			position: sticky;
			top: var(--nav-height);
			height: calc(100vh - var(--nav-height));
		}

		&-img {
			position: absolute;
			inset: 0;
			background-size: cover;
			background-position: 0 0;
			opacity: 0.8;
		}

		&-pattern {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0.4;
		}

		&-home {
			padding: 0;

			@media (width < variables-sass.$bp-md) {
				.tc-image-wrap {
					height: 10rem;
				}
			}
		}
	}

	&-content {
		position: relative;
		z-index: 2;
	}

	&-section {
		padding: var(--spacer-5) 0;
	}

	&-col {
		grid-column: 2 / span var(--col-amount);

		&-10 {
			grid-column: 3 / span calc(var(--col-amount) - 2);

      @media (width <= variables-sass.$bp-lg) {
        grid-column: 2 / span var(--col-amount);
      }
		}
	}

	&-container {
		display: grid;
		grid-template-columns: minmax(var(--gutter), 1fr) repeat(var(--col-amount), minmax(auto, calc(var(--container-width) / var(--col-amount)))) minmax(var(--gutter), 1fr);
		gap: var(--gutter);

    @media (width <= variables-sass.$bp-md) {
      gap: var(--gutter) 1rem;
    }
	}

  &-container-basic {
    margin: auto;
    max-width: calc(var(--container-width) - var(--gutter) * 2);
  }

	&-main {
		// for page transition
		&::before {
			content: '';
			position: fixed;
			z-index: 100;
			inset: 0;
			background-color: var(--color-primary);
			opacity: 0;
			pointer-events: none;
		}
	}

	&-svg-hide {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
	}
}

.tc-observer-ref {
  position: absolute;
  z-index: 1000;
  top: 50%;
}

// TODO: update for mobile?
.tc-food {
  @media (width <= variables-sass.$bp-lg) {
    display: none;
  }
}