h1 {
	font-weight: 300;
	font-size: var(--font-size-4);
	line-height: 1.25;
	text-transform: uppercase;
}

h2 {
	font-family: var(--font-fam-2);
	font-weight: 300;
	font-size: var(--font-size-3);
	line-height: 1.25;
}

h3 {
	font-family: var(--font-fam-2);
	font-weight: 300;
	font-size: var(--font-size-2);
	line-height: 1.25;
	color: var(--color-font-2);
}

h4 {
	font-family: var(--font-fam-2);
	font-weight: 300;
	font-size: var(--font-size-1);
	line-height: 1.25;
	color: var(--color-font-2);
}

p {
	&:not(:last-child) {
		margin-bottom: var(--spacer-2);
	}

	+ h2,
	+ h3 {
		margin-top: var(--spacer-3);
	}
}

.tc {
	&-font-mono {
		font-family: var(--font-fam-2);
	}
}