h1 {
	font-family: var(--font-fam-1);
	font-weight: 400;
	font-size: var(--font-size-4);
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: -0.0375em;
}

h2 {
	font-family: var(--font-fam-2);
	font-weight: 300;
	font-size: var(--font-size-3);
	line-height: 1.25;
}

h3 {
	font-family: var(--font-fam-2);
	font-weight: 300;
	font-size: var(--font-size-2);
	line-height: 1.25;
	color: var(--color-font-2);
}

h4 {
	font-family: var(--font-fam-2);
	font-weight: 300;
	font-size: var(--font-size-1);
	line-height: 1.25;
	color: var(--color-font-2);
}

p {
	&:not(:last-child) {
		margin-bottom: var(--spacer-2);
	}

	+ h2,
	+ h3 {
		margin-top: var(--spacer-3);
	}
}

a  {
	color: var(--color-font-2);
	text-decoration: none;

	&:hover {
		color: var(--color-font);
	}

	p &,
	dd & {
		border-bottom: 1px dotted var(--color-primary);

		&:hover {
			border-style: solid;
		}
	}
}

.tc {
	&-font-mono {
		font-family: var(--font-fam-2);
	}

	&-list-inline {
		> li {
			display: inline-block;
			margin-right: var(--spacer-1);
		}
	}

	&-tag {
		padding: 0.125rem 0.25rem;
		border: var(--border);
		box-shadow: var(--box-shadow-primary);
		background-color: var(--color-background);
		font-family: var(--font-fam-2);
		font-size: var(--font-size-sm-2);
		color: var(--color-font);
	}
}