h1 {
	font-family: var(--font-fam-1);
	font-weight: 800;
	font-size: var(--font-size-4);
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: -0.0375em;
}

h2,
.h2 {
	margin-bottom: var(--spacer-1);
	font-family: var(--font-fam-1);
	font-weight: 800;
	font-size: var(--font-size-5);
	line-height: 1.25;
}

h3,
.h3 {
	font-family: var(--font-fam-1);
	font-weight: 800;
	font-size: var(--font-size-4);
	line-height: 1.25;
}

h4,
.h4 {
	font-family: var(--font-fam-2);
	font-weight: 300;
	font-size: var(--font-size-3);
	line-height: 1.25;
}

em {
	font-style: italic;
}

p,
.content ul {
	&:not(:last-child) {
		margin-bottom: var(--spacer-2);
	}

	+ h2,
	+ h3 {
		margin-top: var(--spacer-3);
	}
}

p {
	text-wrap: pretty;
}

a {
	color: var(--color-font-2);
	text-decoration: none;
	transition: 0.2s;

	&:hover {
		color: var(--color-font);
	}

	p &,
	.content ul &,
	dd & {
		border-bottom: 1px dotted var(--color-primary);

		&:hover {
			border-style: solid;
		}
	}
}

.content ul {
	list-style: disc;
	padding-left: 1rem;
	font-size: 0.875rem;

	> li {
		margin: 0.375rem 0;

		&::marker {
			color: var(--color-primary);
			font-size: 0.875em;
		}
	}
}

.tc {
	&-font-1 {
		font-family: var(--font-fam-1);
	}

	&-font-2 {
		font-family: var(--font-fam-2);
	}

	&-font-small {
		font-size: var(--font-size-sm-2);
	}

	&-italic,
	&-italic-heading {
		font-family: var(--font-fam-1);
		font-weight: 800;
		font-size: 1.1875rem;
		line-height: 1;
		font-style: italic;
	}

	&-italic-heading {
		font-size: 2rem;
	}

	&-list-inline {
		padding: 0;

		> li {
			display: inline-block;
			margin-right: var(--spacer-1);
		}
	}

	&-text-line {
		grid-template-columns: 1fr auto 1fr;

		&::before,
		&::after {
			content: '';
		}

		&,
		&-right {
			display: grid;
			align-items: center;
			gap: var(--spacer-1);

			&::before,
			&::after {
				display: block;
				height: 1px;
				background-color: currentColor;
			}
		}

		&-right {
			grid-template-columns: auto 1fr;

			&::after {
				content: '';
			}
		}
	}

	&-tag {
		padding: 0.125rem 0.25rem;
		border: var(--border);
		box-shadow: var(--box-shadow-primary);
		background-color: var(--color-background);
		font-family: var(--font-fam-2);
		font-size: var(--font-size-sm-2);
		color: var(--color-font);
	}
}