.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border-width: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

// Vue transitions
// ----------

.opacity {
	&-enter-active,
	&-leave-active {
		transition: 0.2s;
	}

	&-enter-from,
	&-leave-to {
		opacity: 0;
	}
}

// SVG
// ----------

.stroke {
	fill: none;
	stroke-miterlimit: 10;
}

// Spacing
// ----------

@each $spacer in (1, 2, 3, 4, 5) {
	.mt-#{$spacer} {
		margin-top: var(--spacer-#{$spacer}) !important;
	}

	.mb-#{$spacer} {
		margin-bottom: var(--spacer-#{$spacer}) !important;
	}

	.my-#{$spacer} {
		margin-top: var(--spacer-#{$spacer}) !important;
		margin-bottom: var(--spacer-#{$spacer}) !important;
	}

	.mr-#{$spacer} {
		margin-right: var(--spacer-#{$spacer}) !important;
	}

	.ml-#{$spacer} {
		margin-left: var(--spacer-#{$spacer}) !important;
	}
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

// Colours
// ----------

@each $token in ('primary', 'secondary-tint', 'secondary', 'accent', 'black-tint', 'black', 'black-dark', 'white') {
	.fill-#{$token} {
		fill: var(--color-#{$token});
	}

	.stroke-#{$token} {
		stroke: var(--color-#{$token});
	}
}

// Animations
// ----------

@keyframes spinny {
  to {
    rotate: 360deg;
  }
}
