:root {
	--color-primary: #52fec5;
	--color-secondary: magenta;

	--color-background: #fff;
	--color-background-2: #eee;
	--color-font: #333;
	--color-font-2: #666;
	--color-box-shadow: var(--color-font);

	--border: 1px solid var(--color-font);
	--box-shadow: 0.25rem 0.25rem 0 var(--color-box-shadow);
	--box-shadow-primary: 0.25rem 0.25rem 0 var(--color-primary);

	--spacer-1: 0.5rem;
	--spacer-2: 1rem;
	--spacer-3: 1.5rem;
	--spacer-4: 2rem;
	--spacer-5: 3rem;

	--font-size-sm-2: 0.75rem;
	--font-size-sm-1: 0.875rem;
	--font-size-1: 1rem;
	--font-size-2: 1.25rem;
	--font-size-3: 2rem;
	--font-size-4: 3rem;
	--font-size-5: 5rem;
	--font-size-6: 7.5rem;

	--font-fam-1: 'Oswald', sans-serif;
	--font-fam-2: 'Noto Sans Mono', monospace;
	--font-fam-3: 'Noto Sans', sans-serif;

	// global component vars
	// ----------
	
	--nav-height: 4rem;
	--container-width: 75rem;
}
