:root {
	--color-primary: #52fec5;
	--color-secondary: magenta;

	--color-background: #fff;
	--color-background-2: #eee;
	--color-font: #333;
	--color-font-2: #666;

	--spacer-1: 0.5rem;
	--spacer-2: 1rem;
	--spacer-3: 1.5rem;
	--spacer-4: 2rem;
	--spacer-5: 3rem;

	--font-size-sm-2: 0.75rem;
	--font-size-sm-1: 0.875rem;
	--font-size-1: 1rem;
	--font-size-2: 1.25rem;
	--font-size-3: 2rem;
	--font-size-4: 3rem;
	--font-size-5: 5rem;
}
