:root {
	--color-primary: #52fec5;
	--color-secondary-tint: #ffc0fc;
	// --color-secondary: #ff3be3; // not accessible on yellow
	--color-secondary: #ff24e0;
	--color-secondary-dark: #de00be;
	--color-accent-tint: #fffbe1;
	--color-accent: #ffff6e;
	--color-black-tint: #877bff;
	--color-black: #4829ff;
	--color-black-dark: #2600c6;

	--color-background: #fff;
	--color-background-2: var(--color-accent-tint);
	--color-font: var(--color-black-dark);
	--color-font-2: var(--color-black);
	--color-font-invert: #fff;

	--border: 1px solid var(--color-font);
	--box-shadow: 0.25rem 0.25rem 0 var(--color-font);
	--box-shadow-primary: 0.25rem 0.25rem 0 var(--color-primary);

	--spacer-1: 0.5rem;
	--spacer-2: 1rem;
	--spacer-3: 1.5rem;
	--spacer-4: 2rem;
	--spacer-5: 4rem;
	--spacer-6: 6rem;

	--font-size-sm-2: 0.75rem;
	--font-size-sm-1: 0.875rem;
	--font-size-1: 1rem;
	--font-size-2: 1.25rem;
	--font-size-3: 2rem;
	--font-size-4: 3rem;
	--font-size-5: 4rem;
	--font-size-6: 6rem;

	--font-fam-1: 'Nunito', sans-serif;
	--font-fam-2: 'Noto Sans Mono', monospace;
	--font-fam-3: 'Noto Sans', sans-serif;

	// global component vars
	// ----------
	
	--nav-height: 4rem;
	--container-width: 75rem;
	--gutter: 2rem;
	--col-amount: 8;
}
